{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Dashboard
{% endblock %}

{% block contents %}
{% comment "주석" %}
<p>
    <div class="row mt-3 pt-3">
        <div class="col-md-4">
            <div class="border p-3 shadow">
                <h4>Add Data</h4>
                <hr>
                <form action="" method="post">
                    {{ form | crispy }} {% csrf_token %}
                    <input type="submit" class="btn btn-success btn-block" value="입력">
                </form>
            </div>
        </div>
</p>
{% endcomment %}

        <div class="col">
            <canvas id="myChart"></canvas>
        </div>
    </div>

{% endblock contents %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('myChart');
    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [
                {% for titledata in dataset %}
                    '{{ titledata.title }}',
                {% endfor %}
            ],
            datasets: [{
                label: '댓글 수 그래프',
                data: [
                    {% for replycntdata in dataset %}
                        {{ replycntdata.reply_cnt }},
                    {% endfor %}
                ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(201, 203, 207, 0.2)'
                ],
                    borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock script %}