<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    {% block auth_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    {% endblock auth_css %}
    <style>
        img {
            width: 80px;
        }
        th {
            text-align: center;
            white-space: nowrap;
        }
        td.center {
            text-align: center;
        }
    </style>
    <title>
        {% block title %}
        COZLAB 홈페이지
        {% endblock title%}
    </title>
</head>

<body>
{% include 'navbar.html' %}
    <div class="container" id="content">
        {% block contents %}
        
        {% endblock contents %}
    </div>
{% include 'footer.html' %}
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
{% block script %}
{% endblock script %}